:root {
  --fontsize: 16px;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--fontsize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
  overflow-y: hidden;
}

@media screen and (max-height: 600px) {
  h5 {
    margin: 0;
    margin-bottom: 10px;
  }
}
