:root {
  --fontsize: 16px;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--fontsize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
}

@media screen and (max-height: 600px) {
  .mochi-register-icon {
    margin-bottom: 0 !important;
  }
  .container .mochi-login .mochi-login-title {
    margin-bottom: 0;
  }
  .container .mochi-login .form-section input {
    height: 50px;
  }
}
