.container {
  .mochi-login {
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
    background-color: #f8f8f8;
    height: 100vh;
    position: relative;

    .mochi-login-title {
      background: #ffcb08;
      font-weight: 700;
      padding: 15px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-bottom: 2rem;
      position: relative;
      button {
        border: none;
        background-color: #fff;
        font-weight: 700;
        /* right: 10px; */
        position: absolute;
        left: 10px;
        top: 10px;
        /* bottom: -15px; */
        padding: 8px 8px 4px;
        /* background: #fff; */
        border-radius: 50%;
        box-shadow: 0px 1px 1px #e5e5e5;
        cursor: pointer;
      }
      .btn-cancel {
        color: #ffcb08;
        padding: 5px 10px 7px;
      }
    }

    .btn-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn {
        color: #fff;
        padding: 8px 20px;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 2rem;
        cursor: pointer;
        margin-bottom: 1rem;
      }
      .btn-login-via-gg,
      .btn-login-via-fb,
      .btn-login-via-apple {
        width: 200px;
      }
      .btn-login-via-gg {
        background-color: #d21919;
        box-shadow: 1px 2px 2px 0px #f0cbcb;
      }
      .btn-login-via-fb {
        background-color: #007bfe;
        box-shadow: 1px 2px 2px 0px #c6dff9;
      }
      .btn-login-via-apple {
        background-color: #000000;
        box-shadow: 1px 2px 2px 0px #adadad;
      }
      .btn-login-via-email {
        color: #000000;
        box-shadow: 1px 2px 2px 0px #adadad;
      }
      .btn-login {
        width: 150px;
        background-color: #e0e0e0;
        border: none;
      }
      .btn-login.active {
        background-image: linear-gradient(215deg, #23ac38, #58cc02);
        box-shadow: 1px 2px 2px 0px #1f9b32;
      }
    }

    .form-section {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      margin: 0 auto;
      input {
        position: relative;
        border: none;
        height: 60px;
        padding-inline-end: 20px;
        padding-inline-start: 20px;
        border-radius: 10px;
        outline: none;
        font-family: inherit;
        font-weight: 600;
        margin-bottom: 1em;
      }
      input.invalid {
        border: 2px solid #d21919;
        margin-bottom: 5px !important;
      }
      .error {
        font-size: 12px;
        text-align: left;
        font-weight: 600;
        color: #d21919;
        margin-bottom: 10px;
      }
    }
    .forgot_password {
      margin-bottom: 1rem;
      display: inline-block;
      font-size: 0.9rem;
    }
    .mochi-icon {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

a {
  font-weight: 600;
}
