.modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.modal-box {
  position: relative;
  width: 80%;
  margin: 10% auto;
  animation-name: modalbox;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0, 0, 0.3, 1.6);
}

.modal-header {
  position: relative;
}

/* Classify type of modal */
.box-setting {
  max-width: 700px;
}
#saving-succeed-modal > .box-invite {
  max-width: 500px !important;
}

.box-invite {
  max-width: 450px;
}

.modal-body__setting {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.modal-body__invite {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 4rem 3.5rem 1rem;
  text-align: center;
  align-items: center;
}

.modal-body__thanks {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5rem 3.5rem 4rem;
  text-align: center;
  align-items: center;
}

.setting-modal__nav {
  background: #b1bdb7;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width: 190px;
}

.setting-modal__nav ul {
  list-style: none;
  padding: 0;
}

.setting-modal__nav ul > li {
  font-size: 0.9em;
  font-weight: 700;
  padding: 18px;
  cursor: pointer;
}

.setting-modal__nav ul > li.active {
  background-color: #cecccc;
}

.setting-modal__content {
  padding: 30px 40px;
  padding-bottom: 0;
  width: 100%;
  min-height: 400px;
}

.setting-modal__title {
  font-weight: 700;
  font-size: 1.1rem;
}

.setting-modal__listbg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px 0;
  max-height: 300px;
  overflow-y: auto;
}

.setting-modal__listbg::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.setting-modal__listbg::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.setting-modal__listbg::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.btn-login {
  background-color: #e0e0e0;
  border: none;
}

.btn-login.active {
  background-image: linear-gradient(215deg, #23ac38, #58cc02);
  box-shadow: 1px 2px 2px 0px #1f9b32;
}

.btn {
  color: #fff;
  padding: 5px 20px;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.setting-modal__listbg > .background_img {
  /* flex-basis: 0; */
  /* -webkit-box-flex: 1; */
  -ms-flex-positive: 1;
  /* flex-grow: 1; */
  /* max-width: 100%; */
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  /* width: 100%; */
  min-height: 120px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.setting-modal__listbg > .background_img .lazyload-wrapper {
  height: 120px;
}

.setting-modal__listbg > .background_img .bg_img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.setting-modal__listbg > .background_img .bg_check {
  position: absolute;
  right: 10px;
  top: -5px;
  background-color: #fff;
  border-radius: 50%;
}

.icon-modal {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100px);
}

/* Close Button */
.close-modal:not(.not-a-close-modal) {
  color: #fcc908;
  cursor: pointer;
  font-weight: 700;
  right: 10px;
  position: absolute;
  bottom: -15px;
  padding: 5px 9px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 1px #e5e5e5;
}

.mochi_modal_login,
.mochi_modal_create_account {
  padding: 8px 40px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1rem;
  width: 145px;
}

.mochi_modal_login {
  background-image: linear-gradient(215deg, #23ac38, #58cc02);
  box-shadow: 1px 2px 2px 0px #1f9b32;
  color: #fff;
}

.mochi_modal_create_account {
  box-shadow: 1px 2px 2px 0px #cecccc;
  color: #000;
}

.setting-modal__subtitle {
  margin-top: 2rem;
  font-weight: 600;
}

.setting-modal__subtitle_fb {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.setting-modal__form {
  margin-top: 1.5em;
}

.setting-modal__form input[type='text'],
.setting-modal__form textarea {
  border-radius: 4px;
  margin: 0;
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 8px;
  font-family: inherit;
  outline: none;
  font-weight: 600;
  border: 1px solid #7a827e;
}

.setting-modal__form input[type='text'].valid,
.setting-modal__form textarea.valid {
  border-color: #ff9600;
}

.quote_list {
  list-style: none;
  padding: 0;
  line-height: 1.25;
}

.quote_item {
  font-size: 0.9rem;
  display: flex;
  font-weight: 600;
  margin-bottom: 1rem;
}

.quote_item > img {
  margin: auto 0;
  margin-right: 10px;
}

.your_quotes_section {
  border-top: 1px solid #cecccc;
  padding-top: 10px;
  font-weight: 600;
  line-height: 2.5;
}

.add_quote {
  font-size: 0.8rem;
  color: #b8b7b7;
  cursor: pointer;
}

.add_quote > img {
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
}

/* Animation */
@-webkit-keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
