:root {
  --fontsize: 16px;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--fontsize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
  overflow-y: hidden;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #58cc02;
}

input:focus + .slider {
  box-shadow: 0 0 1px #58cc02;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
.custom-select {
  position: relative;
  min-width: 200px;
}

.custom-select select {
  display: none;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: '';
  top: 12px;
  right: 11px;
  width: 0;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  height: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  top: 14px;
}

.select-selected.select-arrow-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  background-color: #ffd61f;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ffd61f;
  border-top: 1px solid #fff;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
