.container {
  .mochi-login {
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
    background-color: #f8f8f8;
    height: 100vh;
    position: relative;

    .mochi-login-title {
      background: #ffcb08;
      font-weight: 700;
      padding: 15px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-bottom: 2rem;
      button {
        border: none;
        background-color: #fff;
        font-weight: 700;
        /* right: 10px; */
        position: absolute;
        left: 10px;
        top: 10px;
        /* bottom: -15px; */
        padding: 8px 8px 4px;
        /* background: #fff; */
        border-radius: 50%;
        box-shadow: 0px 1px 1px #e5e5e5;
        cursor: pointer;
      }
      .btn-cancel {
        color: #ffcb08;
        padding: 5px 10px 7px;
      }
    }

    h4 {
      margin-top: 5rem;
    }

    .btn-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn {
        color: #fff;
        padding: 8px 20px;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 2rem;
        cursor: pointer;
        margin-bottom: 1rem;
        text-decoration: none;
      }
      .btn-login-via-gg,
      .btn-login-via-fb,
      .btn-login-via-apple {
        width: 200px;
      }
      .btn-login-via-gg {
        background-color: #d21919;
        box-shadow: 1px 2px 2px 0px #f0cbcb;
      }
      .btn-login-via-fb {
        background-color: #007bfe;
        box-shadow: 1px 2px 2px 0px #c6dff9;
      }
      .btn-login-via-apple {
        background-color: #000000;
        box-shadow: 1px 2px 2px 0px #adadad;
      }
      .btn-login {
        width: 150px;
        background-color: #e0e0e0;
        border: none;
      }
      .btn-login.active {
        background-image: linear-gradient(215deg, #23ac38, #58cc02);
        box-shadow: 1px 2px 2px 0px #1f9b32;
      }
    }

    .mochi-information {
      display: flex;
      justify-content: center;
      .mochi-avatar {
        padding: 20px;
        position: relative;
        img {
          border-radius: 50%;
          border: 3px solid #ffcb08;
        }
        .mochi-account-type {
          font-size: 0.75rem;
          position: absolute;
          font-weight: 600;
          color: #fff;
          padding: 5px 10px;
          border-radius: 10px;
          left: 50%;
          width: fit-content;
          transform: translate(-50%, -80%);
        }
      }
      .mochi-identity {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          margin: 0;
        }

        ul {
          margin: 0;
          list-style: none;
          font-weight: 600;
          font-size: 0.8rem;
          padding: 0;
          line-height: 1.5;
          li {
            img {
              vertical-align: middle;
              margin-right: 5px;
              margin-bottom: 4px;
            }
          }
        }
      }
    }

    .mochi-options {
      .mochi-setting-dictionary {
        display: flex;
        justify-content: space-between;
        padding: 3rem 5rem 1.5rem;
        font-weight: 700;
        span {
          margin: auto 0;
        }
      }
      .mochi-setting-newtab {
        display: flex;
        justify-content: space-between;
        padding: 0 5rem;
        font-weight: 700;
        span {
          margin: auto 0;
        }
      }
    }
    .mochi-icon {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .logout {
      // margin-top: 2rem;
      color: #bdbdbd;
      display: inline-block;
    }
  }
}

a {
  font-weight: 600;
}
