body {
  width: 300px;
  height: 100px;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-weight: 600;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.mochi-popup .modal {
  overflow: hidden;
}

.mochi-popup .modal-box {
  margin: 20% auto;
}

.mochi-popup .icon-modal:not(.detective-icon) {
  width: 100px;
  transform: translate(-50%, -56px);
}

.mochi-popup .detective-icon {
  width: 75px;
  transform: translate(-50%, -56px);
}

.mochi-popup .modal-body__invite {
  padding: 0;
  padding-top: 0.75rem;
}

.mochi-popup h4 {
  font-size: 0.75rem;
}

.mochi-popup .mochi_modal_login,
.mochi-popup .mochi_modal_create_account {
  font-size: 0.75rem;
  padding: 5px 0px;
  width: 130px;
}
