.mochi__dictionary__searchbox {
  width: 100%;
  height: 35px;
  margin: auto;
}

.form {
  padding: 15px;
  padding-bottom: 10px;
}

.mochi__dictionary__searchbox > #inputWrapper {
  position: relative;
  height: 100%;
}

.mochi__dictionary__searchbox > #inputWrapper input {
  position: relative;
  width: calc(100% - 60px);
  padding-inline-end: 47px;
  padding-inline-start: 15px;
  height: 100%;
  border-radius: 25px;
  outline: none;
  font-size: 0.75rem;
  font-family: inherit;
  font-weight: 700;
  border: 1px solid #808080;
}

.mochi__dictionary__searchbox > #inputWrapper input:focus {
  border-color: #ffaf04;
}

.mochi__dictionary__searchbox > #inputWrapper img {
  position: absolute;
  bottom: 4px;
  right: 10px;
}

.dictionary-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.dictionary-footer {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dictionary-footer a {
  font-size: 0.7rem;
}

.dictionary-body {
  padding: 15px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.dictionary-body .dictionary-loudspeaker {
  line-height: 2.3;
  margin-bottom: 1rem;
}

.dictionary-body .dictionary-loudspeaker img {
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.28);
  cursor: pointer;
  margin-right: 10px;
}

.dictionary-body .dictionary-loudspeaker .pronunciation-type {
  width: 20%;
  display: inline-block;
}

.mochi-login-ava {
  border-radius: 50%;
  border: 2px solid #4ac410;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}

.custom-select {
  position: relative;
  min-width: 92px;
}

.custom-select select {
  display: none;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: '';
  top: 11px;
  right: 5px;
  width: 0;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  height: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  top: 13px;
}

.select-selected.select-arrow-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 5px 16px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #ffd61f;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ffd61f;
  border-top: 1px solid #fff;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.mochi_avatar {
  min-width: 25px;
  height: 25px;
  border: 2px solid;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
  background-position: center;
  background-size: cover;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.single-result {
  margin-bottom: 0.5rem;
}

.main-script {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-script > span {
  margin: auto 0;
}

.btn-saving-word {
  padding: 4px 10px;
  margin-bottom: 3px;
  max-height: 17px;
  min-width: 66px;
  color: #fff;
  font-weight: 700;
  background-image: linear-gradient(215deg, #23ac38, #58cc02);
  border-radius: 2rem;
  box-shadow: 1px 2px 2px 0px #1f9b32;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
}

.saved {
  background: #f8f8f8 !important;
  box-shadow: 1px 2px 2px 0px #7c7c7c !important;
  color: #7c7c7c !important;
}

.saved > img {
  padding: 4px;
  background-color: #c2c2c2;
  border-radius: 50%;
  margin-bottom: 3px;
  margin-right: 5px;
  vertical-align: middle;
}

.btn-saving-word > span {
  background-color: #fff;
  color: #43bf17;
  border-radius: 50%;
  padding: 0 5px;
  margin-right: 5px;
}

.suggest-title {
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.suggest-list {
  line-height: 1.5;
}

.suggest > a {
  color: #ffaf04;
}

.mochi_detective_icon {
  margin: 0 auto;
}
