:root {
  --fontsize: 16px;
  --fonttooltip: 0.75rem;
  --searchbox-height: 44px;
  --searchbox-width: 561px;
  --searchbox-dictionary-height: 33px;
  --brg-aside-box: rgba(220, 237, 212, 0.86);
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--fontsize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mochi-header {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #fff;
}

.mochi-header > .mochi__clock {
  font-weight: 600;
  padding: 5px 10px;
  max-height: 55px;
}

.mochi-header > .mochi__clock:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
}

.mochi-header > .mochi__clock > span {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.mochi-header > .mochi__setting_account {
  margin-top: 15px;
}

.mochi-header > .mochi__setting_account img {
  vertical-align: middle;
}

.mochi-header > .mochi__setting_account > .mochi__setacc {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
}

.mochi-header
  > .mochi__setting_account
  > .mochi__setacc
  > .mochi_setting::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all 0.5s;
}

.mochi-header
  > .mochi__setting_account
  > .mochi__setacc
  > .mochi_account::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  transition: all 0.5s;
}

.mochi-header
  > .mochi__setting_account
  > .mochi__setacc
  > .mochi_account
  > div {
  visibility: hidden;
  position: absolute;
  font-size: 0.7rem;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
  top: 100%;
}

.mochi-header
  > .mochi__setting_account
  > .mochi__setacc
  > .mochi_account
  > div
  > .mochi_account_type {
  font-weight: 600;
}

.mochi-header
  > .mochi__setting_account
  > .mochi__setacc
  > .mochi_account:hover
  > div {
  visibility: visible;
}

.mochi-header
  > .mochi__setting_account
  > .mochi__setacc
  > .mochi_setting::before {
  content: 'Cài đặt';
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  width: 70px;
  top: 100%;
  right: 50%;
  font-size: var(--fonttooltip);
}

.mochi-header
  > .mochi__setting_account
  > .mochi__setacc
  > .mochi_setting:hover::before {
  visibility: visible;
}

.mochi-header
  > .mochi__setting_account
  > .mochi__setacc
  > .mochi_setting:hover::after {
  background-color: rgba(255, 255, 255, 0.15);
}

.mochi-header
  > .mochi__setting_account
  > .mochi__setacc
  > .mochi_account:hover::after {
  background-color: rgba(255, 255, 255, 0.15);
}

.mochi-header > .mochi__setting_account > .mochi__setacc > .mochi_login {
  margin-left: 20px;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(215deg, #ff9600, #f7c407);
  border-radius: 2rem;
  box-shadow: 1px 2px 2px 0px #f9bd06;
  cursor: pointer;
}

.mochi-footer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #fff;
}

.mochi-footer > .mochi__philosophy {
  display: flex;
  align-self: flex-end;
  padding: 10px;
}

.mochi__philosophy_text {
  font-weight: 700;
}

.mochi-footer .mochi__chrome {
  padding: 10px;
}

.mochi-footer > .mochi__chrome > .mochi_chrome::before {
  content: 'Chrome New Tab';
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  width: 115px;
  bottom: 110%;
  left: -70%;
  font-size: var(--fonttooltip);
}

.mochi-footer > .mochi__chrome > .mochi_chrome::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: all 0.5s;
}

.mochi-footer > .mochi__chrome > .mochi_chrome:hover::before {
  visibility: visible;
}

.mochi-footer > .mochi__chrome > .mochi_chrome:hover::after {
  background-color: rgba(255, 255, 255, 0.15);
}

.mochi-searchbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.mochi-searchbox > .mochi_realbox {
  width: var(--searchbox-width);
  height: var(--searchbox-height);
  margin: auto;
}

.mochi__dictionary__searchbox {
  width: 100%;
  height: var(--searchbox-dictionary-height);
  margin: auto;
}

.mochi-searchbox > .mochi_realbox > #inputWrapper {
  position: relative;
  height: 100%;
}

.mochi__dictionary__searchbox > #inputWrapper {
  position: relative;
  height: 100%;
}

.mochi_logo {
  margin: 1.5rem auto;
}

.mochi_realbox > #inputWrapper input {
  position: relative;
  border: none;
  width: calc(100% - 65px);
  padding-inline-end: 60px;
  padding-inline-start: 25px;
  height: 100%;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
}

.mochi__dictionary__searchbox > #inputWrapper input {
  position: relative;
  border: 1px solid transparent;
  width: calc(100% - 60px);
  padding-inline-end: 47px;
  padding-inline-start: 15px;
  height: 100%;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  font-size: 0.7rem;
  font-family: inherit;
  font-weight: 600;
}

.mochi__dictionary__searchbox > #inputWrapper input:focus,
.mochi__dictionary__searchbox > #inputWrapper input.active {
  border-color: #f7c407 !important;
}

.mochi_realbox > #inputWrapper img {
  position: absolute;
  bottom: 4px;
  right: 0;
}

.mochi__dictionary__searchbox > #inputWrapper .input-icon {
  position: absolute;
  bottom: 3px;
  right: 10px;
}

.mochi-header .mochi__dictionary {
  background-color: var(--brg-aside-box);
  border-radius: 10px;
  margin-top: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 235px;
  padding: 30px 15px;
  margin-bottom: 10px;
}

.mochi_learn_english {
  position: absolute;
  background: var(--brg-aside-box);
  right: 0;
  top: 0;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 265px;
}

@media (min-width: 1400px) {
  .mochi_learn_english {
    padding-bottom: 30px;
  }
}

.mochi_learn_english > .mochi_learn_e_header > h4 {
  padding: 10px;
  margin: 0;
}

.mochi_learn_english > .mochi__learn_e__content {
  border-top: 1px solid #fff;
  width: 100%;
}

.mochi-header .mochi__dictionary > h4 {
  margin-bottom: 15px;
}

.mochi_learn_e_defalt {
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: center;
}

.mochi_learn_e_defalt > img {
  margin: 20px auto;
}

.mochi_learn_e_defalt > .mochi_learn_e_defalt_intro {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

.mochi_learn_e_defalt > .mochi__let_learn_e {
  text-align: center;
  padding: 20px;
}

.mochi_learn_e_defalt > .mochi__let_learn_e > a {
  padding: 8px 40px;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  background-image: linear-gradient(215deg, #23ac38, #58cc02);
  border-radius: 2rem;
  box-shadow: 1px 2px 2px 0px #1f9b32;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.mochi__let_learn {
  text-align: center;
  padding-bottom: 15px;
}

.mochi_training {
  padding: 5px 30px;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  background-image: linear-gradient(215deg, #23ac38, #58cc02);
  border-radius: 2rem;
  box-shadow: 1px 2px 2px 0px #1f9b32;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.gg-suggestion-item {
  padding-inline-start: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline-end: 22px;
  font-weight: 600;
}

.gg-suggestion-item:hover {
  background-color: #ededed;
}

.gg-suggestion-item.activeSug {
  background-color: #d3d3d3 !important;
}

.gg-suggestion {
  background-color: #fff;
  width: calc(100% + 20px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: default;
  overflow: hidden;
}

.showing-suggestion {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  box-shadow: 0 -5px 6px -4px rgba(32, 33, 36, 0.28) !important;
}

/* CHART */
.mochi-chart {
  min-height: 150px;
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
}

.proficient {
  height: 150px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.drawed-chart {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 3px;
}

#col-0 {
  background-color: #eb5757;
}

#col-1 {
  background-color: #ffcb08;
}

#col-2 {
  background-color: #56ccf2;
}

#col-3 {
  background-color: #2f80ed;
}

#col-4 {
  background-color: #213782;
}

.wordAmount,
.level {
  font-size: 0.8rem;
  font-weight: 600;
}

.level {
  border-top: 2px solid #bdbdbd;
  padding-top: 5px;
}
.time_to_train {
  background-color: #e0e0e0;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 25px;
  margin: auto;
  position: relative;
  font-weight: 700;
}

.time_to_train img {
  margin-right: 5px;
  padding-bottom: 2px;
}

.time_to_train .notice {
  position: absolute;
  right: 0;
  top: -5px;
}

.mochi_dictionary_box {
  font-family: 'Quicksand', sans-serif;
  display: none;
  position: absolute;
  top: calc(100% + 15px);
  right: 15%;
  z-index: 99999990;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 4px 4px 4px rgba(19, 13, 13, 0.1);
  border-radius: 10px;
  width: 300px;
  font-weight: 600;
  font-size: 0.8rem;
}

.mochi_container > .mochi_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffc801;
}

.mochi_container > .mochi_header > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mochi_container > .mochi_header > ul > li {
  display: flex;
  padding: 10px;
}

.mochi_container > .mochi_header > ul > li.active {
  background-color: #ffcb0d;
}
.mochi_container > .mochi_header > ul > li > a {
  margin: auto;
  color: #000;
  text-decoration: none;
}

.mochi_container .dictionary-footer a {
  color: #3682ed !important;
  text-decoration: underline;
}

.mochi_container .dictionary-account {
  padding: 5px;
}

.mochi_container h4 {
  font-style: normal;
  font-weight: 700;
  margin: 0;
  font-size: initial;
  margin-bottom: 5px;
  text-transform: capitalize;
  text-align: start;
}

.mochi__dictionary__searchbox {
  width: 100%;
  height: 35px;
  margin: auto;
}

.form {
  padding: 15px;
  padding-bottom: 10px;
}

.mochi__dictionary__searchbox > #inputWrapper {
  position: relative;
  height: 100%;
}

.mochi__dictionary__searchbox > #inputWrapper input:focus {
  border-color: #ffaf04;
}

.dictionary-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.dictionary-footer {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dictionary-footer a {
  font-size: 0.7rem;
}

.dictionary-body {
  padding: 15px;
  padding-bottom: 0;
  max-height: 280px;
  overflow-y: auto;
}

.dictionary-body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.dictionary-body::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.dictionary-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.dictionary-body .dictionary-loudspeaker {
  line-height: 2.3;
  margin-bottom: 1rem;
}

.dictionary-body .dictionary-loudspeaker img {
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.28);
  cursor: pointer;
  margin-right: 10px;
}

.dictionary-body .dictionary-loudspeaker .pronunciation-type {
  width: 20%;
  display: inline-block;
}

.mochi-login-ava {
  border-radius: 50%;
  border: 1px solid #4ac410;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}

.custom-select {
  position: relative;
  min-width: 92px;
}

.custom-select select {
  display: none;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: '';
  top: 11px;
  right: 5px;
  width: 0;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  height: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  top: 13px;
}

.select-selected.select-arrow-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 5px 16px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #ffd61f;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ffd61f;
  border-top: 1px solid #fff;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.single-result {
  margin-bottom: 0.5rem;
}

.main-script {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-script > span {
  margin: auto 0;
}

.mochi_container .btn-saving-word {
  padding: 4px 10px;
  text-align: center;
  margin-bottom: 3px;
  max-height: 17px;
  min-width: 66px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  background-image: linear-gradient(215deg, #23ac38, #58cc02);
  border-radius: 2rem;
  box-shadow: 1px 2px 2px 0px #1f9b32;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
}

.saved {
  background: #f8f8f8 !important;
  box-shadow: 1px 2px 2px 0px #7c7c7c !important;
  color: #7c7c7c !important;
}

.saved > img {
  padding: 4px;
  background-color: #c2c2c2;
  border-radius: 50%;
  margin-bottom: 2px;
  margin-right: 3px;
}

.mochi_container .btn-saving-word > span {
  background-color: #fff;
  color: #43bf17;
  border-radius: 50%;
  padding: 0 5px;
  margin-right: 5px;
}

.suggest-title {
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.suggest-list {
  line-height: 1.5;
}

.mochi_container .suggest > a {
  color: #ffaf04 !important;
}

.modal,
.modal-box {
  z-index: 99999993;
  font-family: 'Quicksand', sans-serif;
}

/* Close Button */
.close-dictionary {
  color: #cecccc;
  cursor: pointer;
  font-weight: 700;
  right: -10px;
  font-size: 0.75rem;
  position: absolute;
  top: -8px;
  padding: 2px 5px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 1px #e5e5e5;
}

@media screen and (max-height: 600px) {
  .mochi-header .mochi__dictionary {
    margin-top: 1rem;
    padding: 20px 15px;
  }
}
