$myColor: #000;

$paddingContent: 20px;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $myColor;
  margin-top: 0;
}

.mochi-wrapper {
  background-size: cover !important;
  background-position: center !important;
  transition: background-image 200ms linear;
  background: transparent
}

#content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$paddingContent} * 2);
  min-width: fit-content;
  position: relative;
  z-index: 1;
  padding: $paddingContent;
  justify-content: space-between;
}
