#mochi-extension-root {
  all: unset;
  font-size: 14px !important;
}
.mochi-btnToggle {
  position: absolute;
  z-index: 99999991;
  display: none;
}

.mochi-btnToggle img {
  border-radius: 5px;
  height: 24px !important;
}

.mochi_dictionary_box {
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99999990;
  background-color: #fff;
  box-shadow: 0px 4px 4px 4px rgba(19, 13, 13, 0.1);
  border-radius: 10px;
  width: 300px;
  font-weight: 600;
  color: #000;
}

.mochi_container > .mochi_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffc801;
}

.mochi_container > .mochi_header > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mochi_container > .mochi_header > ul > li {
  display: flex;
  padding: 5px 10px;
}

.mochi_container > .mochi_header > ul > li.active {
  background-color: #ffcb0d;
}
.mochi_container > .mochi_header > ul > li > a {
  margin: auto;
  color: #000;
  text-decoration: none;
}

.mochi_container .dictionary-footer a {
  color: #3682ed !important;
  text-decoration: underline;
}

.mochi_container .dictionary-account {
  padding: 5px;
}

.mochi_container h4 {
  font-style: normal;
  font-weight: 700;
  margin: 0;
  font-size: initial;
  margin-bottom: 5px;
  text-transform: capitalize;
  text-align: start;
}

.mochi__dictionary__searchbox {
  width: 100%;
  height: 35px;
  margin: auto;
}

.form {
  padding: 15px;
  padding-bottom: 10px;
}

.mochi__dictionary__searchbox > #inputWrapper {
  position: relative;
  height: 100%;
}

.mochi__dictionary__searchbox > #inputWrapper input {
  position: relative;
  width: calc(100% - 60px);
  padding-inline-end: 47px;
  padding-inline-start: 15px;
  height: 100%;
  border-radius: 25px;
  outline: none;
  font-size: 0.75rem;
  font-family: inherit;
  font-weight: 700;
  border: 1px solid #808080;
}

.mochi__dictionary__searchbox > #inputWrapper input:focus {
  border-color: #ffaf04;
}

.mochi__dictionary__searchbox > #inputWrapper img {
  position: absolute;
  bottom: 4px;
  right: 10px;
}

.dictionary-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.dictionary-footer {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dictionary-footer a {
  font-size: 0.7rem;
}

.dictionary-body {
  padding: 15px;
  padding-bottom: 0;
  max-height: calc(50vh - 80px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.dictionary-body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.dictionary-body::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.dictionary-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.dictionary-body .dictionary-loudspeaker {
  line-height: 2.3;
  margin-bottom: 1rem;
}

.dictionary-body .dictionary-loudspeaker img {
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.28);
  cursor: pointer;
  margin-right: 10px;
}

.dictionary-body .dictionary-loudspeaker .pronunciation-type {
  width: 20%;
  display: inline-block;
}

.mochi-login-ava {
  border-radius: 50%;
  border: 2px solid #4ac410;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}

.custom-select {
  position: relative;
  min-width: 92px;
}

.custom-select select {
  display: none;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: '';
  top: 11px;
  right: 5px;
  width: 0;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  height: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  top: 13px;
}

.select-selected.select-arrow-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 5px 16px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #ffd61f;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ffd61f;
  border-top: 1px solid #fff;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.single-result {
  margin-bottom: 0.5rem;
}

.main-script {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-script > span {
  margin: auto 0;
}

.mochi_container .btn-saving-word {
  padding: 4px 10px;
  margin-bottom: 3px;
  max-height: 17px;
  min-width: 66px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  background-image: linear-gradient(215deg, #23ac38, #58cc02);
  border-radius: 2rem;
  box-shadow: 1px 2px 2px 0px #1f9b32;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
}

.saved {
  background: #f8f8f8 !important;
  box-shadow: 1px 2px 2px 0px #7c7c7c !important;
  color: #7c7c7c !important;
}

.mochi_avatar {
  min-width: 25px;
  height: 25px;
  border: 2px solid;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
  background-position: center;
  background-size: cover;
}

.saved > img {
  padding: 4px;
  background-color: #c2c2c2;
  border-radius: 50%;
  margin-bottom: 3px;
  margin-right: 5px;
  vertical-align: middle;
}

.mochi_container .btn-saving-word > span {
  background-color: #fff;
  color: #43bf17;
  border-radius: 50%;
  padding: 0 5px;
  margin-right: 5px;
}

.suggest-title {
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.suggest-list {
  line-height: 1.5;
}

.mochi_container .suggest > a {
  color: #ffaf04 !important;
}

.mochi_detective_icon {
  margin: 0 auto;
}
.modal,
.modal-box {
  z-index: 99999993;
  font-family: 'Quicksand', sans-serif;
  color: #000;
}
/* End dictionary */

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.modal-box {
  position: relative;
  width: 80%;
  margin: 10% auto;
  animation-name: modalbox;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0, 0, 0.3, 1.6);
}

.modal-header {
  position: relative;
}

/* Classify type of modal */
.box-setting {
  max-width: 700px;
}

.box-invite {
  max-width: 450px;
}

.modal-body__setting {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.modal-body__invite {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 4rem 3.5rem 1rem;
  text-align: center;
  align-items: center;
}

.modal-body__thanks {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5rem 3.5rem 4rem;
  text-align: center;
  align-items: center;
}

.setting-modal__nav {
  background: #b1bdb7;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width: 190px;
}

.setting-modal__nav ul {
  list-style: none;
  padding: 0;
}

.setting-modal__nav ul > li {
  font-size: 0.9em;
  font-weight: 700;
  padding: 18px;
  cursor: pointer;
}

.setting-modal__nav ul > li.active {
  background-color: #cecccc;
}

.setting-modal__content {
  padding: 30px 40px;
  padding-bottom: 0;
  width: 100%;
  min-height: 400px;
}

.setting-modal__title {
  font-weight: 700;
  font-size: 1.1rem;
}

.setting-modal__listbg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px 0;
  max-height: 300px;
  overflow-y: auto;
}

.setting-modal__listbg::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.setting-modal__listbg::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.setting-modal__listbg::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.btn-login {
  background-color: #e0e0e0;
  border: none;
}

.btn-login.active {
  background-image: linear-gradient(215deg, #23ac38, #58cc02);
  box-shadow: 1px 2px 2px 0px #1f9b32;
}

.btn {
  color: #fff;
  padding: 5px 20px;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.setting-modal__listbg > .background_img {
  /* flex-basis: 0; */
  /* -webkit-box-flex: 1; */
  -ms-flex-positive: 1;
  /* flex-grow: 1; */
  /* max-width: 100%; */
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  /* width: 100%; */
  min-height: 120px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.setting-modal__listbg > .background_img .lazyload-wrapper {
  height: 120px;
}

.setting-modal__listbg > .background_img .bg_img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.setting-modal__listbg > .background_img .bg_check {
  position: absolute;
  right: 10px;
  top: -5px;
  background-color: #fff;
  border-radius: 50%;
}

.icon-modal {
  width: 200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100px);
}

/* Close Button */
.close-modal:not(.not-a-close-modal) {
  color: #fcc908;
  cursor: pointer;
  font-weight: 700;
  right: 10px;
  position: absolute;
  bottom: -15px;
  padding: 5px 9px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 1px #e5e5e5;
}

.mochi_modal_login,
.mochi_modal_create_account {
  padding: 8px 40px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1rem;
  width: 145px;
}

.mochi_modal_login {
  background-image: linear-gradient(215deg, #23ac38, #58cc02);
  box-shadow: 1px 2px 2px 0px #1f9b32;
  color: #fff;
}

.mochi_modal_create_account {
  box-shadow: 1px 2px 2px 0px #cecccc;
  color: #000;
}

.setting-modal__subtitle {
  margin-top: 2rem;
  font-weight: 600;
}

.setting-modal__subtitle_fb {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.setting-modal__form {
  margin-top: 1.5em;
}

.setting-modal__form input[type='text'],
.setting-modal__form textarea {
  border-radius: 4px;
  margin: 0;
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 8px;
  font-family: inherit;
  outline: none;
  font-weight: 600;
  border: 1px solid #7a827e;
}

.setting-modal__form input[type='text'].valid,
.setting-modal__form textarea.valid {
  border-color: #ff9600;
}

.quote_list {
  list-style: none;
  padding: 0;
  line-height: 1.25;
}

.quote_item {
  font-size: 0.9rem;
  display: flex;
  font-weight: 600;
  margin-bottom: 1rem;
}

.quote_item > img {
  margin: auto 0;
  margin-right: 10px;
}

.your_quotes_section {
  border-top: 1px solid #cecccc;
  padding-top: 10px;
  font-weight: 600;
  line-height: 2.5;
}

.add_quote {
  font-size: 0.8rem;
  color: #b8b7b7;
  cursor: pointer;
}

.add_quote > img {
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
}

/* Animation */
@-webkit-keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
